---
import Buttons from "../components/Buttons.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="@omxrhack || Omar Bermejo Osuna">
  <main class="h-[100vh]">
    <div id="container" class="flex justify-between h-full">
      <div id="left-container" class="w-full grid justify-center items-center">
        <img
          src="http://imgfz.com/i/wc4g8TO.png"
          class="bg-coverv h-[40rem]"
          alt="imagen-container"
        />
      </div>
      <div id="rigth-container" class="w-full">
        <div id="h1-r-con" class="grid justify-center mt-[10rem] mb-0">
          <h1 class="text-[#DCD839] text-[3.5rem]">Omar Bermejo Osuna</h1>
          <div id="h2-r-con" class="grid justify-center">
            <h2 class="text-[#DCD839] text-[1.3rem]">
              Desarrollador Web <span class="text-[#979307] mx-7">//</span> Desarrollador
              Movil
            </h2>
          </div>
        </div>
        <div id="slogan" class="flex mt-[3rem] mx-[4.5rem] justify-between">
          <h3 class="text-[#DCD839] text-[1rem]">Redes Sociales</h3>

          <h5 class="text-[#DCD839] text-[1rem]">Un poco de mi personal.</h5>
        </div>
        <div id="social-r-con" class="flex justify-between mx-[4.5rem] gap-40">
          <div class="w-full">
            <Buttons
              title="X"
              url="https://twitter.com/omxrhack"
              bg="bg-black"
              img="https://static.designboom.com/wp-content/uploads/2023/07/twitter-logo-change-x-elon-musk-designboom-01.jpg"
            />
            <Buttons
              title="Facebook"
              url="https://www.facebook.com/omarjr.bermejillo/"
              bg="bg-blue-900"
              img="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/1200px-Facebook_f_logo_%282019%29.svg.png"
            />
          </div>
          <div class="w-full">
            <Buttons
              title="Instagram"
              bg="bg-red-600"
              url="https://www.instagram.com/omxrhack/"
              img="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/1200px-Instagram_logo_2022.svg.png	"
            />
            <Buttons
              title="tiktok"
              bg="bg-gray-900"
              url="https://www.tiktok.com/@omxrhack?lang=es"
              img="https://img.freepik.com/vector-premium/logotipo-tik-tok_578229-290.jpg"
            />
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  @media (max-width: 1250px) {
    #container {
      flex-direction: column;
    }
    img {
      width: 100%;
      height: 70%;
    }
    #left-container {
      height: 50%;
    }
    #rigth-container {
      height: 50%;
    }
    #h1-r-con {
      margin-top: 0;
    }
    #h2-r-con {
      flex-direction: column;
      text-align: center;
      gap: 0;
    }
    #social-r-con {
      flex-direction: column;
      gap: 0;
    }
    #slogan {
      flex-direction: column;
      text-align: center;
      gap: 0;
    }
  }

  @media (max-width: 768px) {
    #container {
      flex-direction: column;
    }
    #slogan {
      flex-direction: column;
      text-align: center;
      gap: 0;
    }
  }
  @media (max-width: 600px) {
    h1 {
      font-size: 3rem;
      margin-top: 0;
      text-align: center;
    }
    h2 {
      font-size: 1rem;
      margin-top: 0;
    }
  }
  @media (max-width: 500px) {
    #container {
      flex-direction: column;
    }
    img {
      width: 100%;
      height: 70%;
    }
    h1 {
      font-size: 3rem;
      margin-top: 0;
      text-align: center;
    }
    h2 {
      font-size: 1rem;
      margin-top: 0;
    }
    #social-r-con {
      gap: 0;
    }
    #slogan {
      flex-direction: column;
      text-align: center;
      gap: 0;
    }
  }
</style>
